*:focus
{
  outline: none;
}
body
{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #212121;
}
body button 
{
  font-family: 'Montserrat', sans-serif;
}
body button:hover {
  background-color: #4f9a94;
}
.grid
{
  display: grid;
  margin-top: 1%;
  justify-content: start;
  grid-template-columns: 0.5fr auto max-content;
  grid-template-rows: 100px repeat(2, max-content) auto;
  row-gap: 6%;
  column-gap: 2%;
  grid-template-areas:
    "logo logo ."
    "sidenav canvas settings"
    "sidenav canvas result"
    "sidenav canvas findNum";
}
.logoHolder
{
  width: 100%;
  text-align: start;
  margin-left: 1%;
  grid-area: logo;
}
.sidenav {
  color: whitesmoke;
  background-color: transparent;
  font-size: 1.2em;
  grid-area: sidenav;
}
.canvas
{
  background-color: #484848;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  grid-area: canvas;
}

.logoHolder img
{
  height: 100%;
}

.sidenav .menu 
{
  list-style: none;
  padding: 0px;
}
.sidenav a,
.sidenav a:visited
{
  display: block;
  margin: 16px 12px;
  padding: 10px 16px;
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.5s ease;
  position: relative;
}
.sidenav a:not(.current)::after
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  width: 0;
  height: 2px;
  border-radius: 12px;
  transition: all .5s ease;
}
.sidenav a:not(.current):hover:after
{
  width: 100%;
}
.sidenav a.current 
{
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  transition: all .5s ease;
}
.sidenav a.current:hover 
{
  color: whitesmoke;
  box-shadow: none;
}
.sidenav a.current::before
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  z-index: -1;
  transition: all .5s ease;
}
.sidenav a.current:hover::before 
{
  width: 0;
  color: whitesmoke;
}

.settings 
{
  width: 100%;
  height: min-content;
  color: white;
  font-size: 1.3em;
  text-align: start;
}
.settings>button 
{
  display: block;
  background: #80cbc4;
  color: black;
  padding: 8px 16px;
  margin-top: 16px;
  width: 100%;
  font-size: 0.9em;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all 0.25s ease;
}
.settings>.uploadLabel
{
  display: block;
  color: black;
  background: #80cbc4;
  margin-bottom: 16px;
  padding: 8px 0;
  border-radius: 10px;
  width: 100%;
  font-size: 1em;
  text-align: center;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  transition: all 0.25s ease;
}
.settings>.uploadLabel:hover
{
  background: #4f9a94;
}
#fileName 
{
  min-width: 100px;
  min-height: 20px;
  display: inline-block;
  color: whitesmoke;
  font-size: 1.2em;
  text-align: center;
  padding: 4px 16px;
  border-radius: 10px;
  border: 1px dashed #80cbc4;
}
.settings>#upload
{
  display: none;
}

#find
{
  width: 100%;
  color: black;
  font-size: 1.5em;
  background-color: #80cbc4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}
#find:hover {
  background-color: #4f9a94;
}
#find:active {
  transform: scale(0.98);
}

.settings{grid-area: settings;}
.findNum{grid-area: findNum;}
.result {
  display: flex;
  grid-area: result;
  border-radius: 50%;
  border: 1px solid white;
  height: 200px;
  width: 200px;
  justify-self:center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4em;
}
